@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
footer{
  font-family: 'Roboto', sans-serif;
}

.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0.5;
}